* @sathishp-eGov @rushang7-eGov @GhanshyamRawat-eGov
core/ @sathishp-eGov @GhanshyamRawat-eGov	@rushang7-eGov
reference-adapter/ @sathishp-eGov @GhanshyamRawat-eGov @rushang7-eGov
domain-services/ @sathishp-eGov @GhanshyamRawat-eGov @rushang7-eGov
utilities/ @sathishp-eGov @rushang7-eGov
